
body{
    background-color: rebeccapurple;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    color: chartreuse;
    /* font-family: 'Bungee Shade', cursive;  */
}
.class-start-page{
    margin: 50px;
    padding: 20px;
    height: 452px;
    background-color:black;
}
.class-title-start-page{
    margin: 10px auto;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bungee Shade', cursive;
    font-size: xx-large;   
}
.class-img-start-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    max-width: 100%;
    border: 3px solid chartreuse;
}
.class-img-start-page img{
    width: 70px;
    height: 70px;
    margin: 10px;
    background-image: url('img/blue-1293919_1280.png');
    background-size: cover;
}
.class-button-start{
    display: flex;
    justify-content: center;
    padding: 40px;
}
.class-button-start button{
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    font-weight: bolder;
    color: blue;

}

#game-page{
    margin: 50px;
    padding: 20px;
    background-color:black;
}

#up-bar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#down-bar{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
#count-moves{
    display: flex;
}
#box-delivery{
    display: flex;
}
.class-centrer-playground{
    display: flex;
    justify-content: center;
    margin: 50px auto;
}

 /* en el contenedor padre utilizamos el CSS "display:grid" que ofrece la opcion de crear un tablon  
con propiedades como el felxbox.*/

.class-playground{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: fit-content;
    height: fit-content;
}

/* <div class="box-playground"></div> */
.box-playground{
    width: 40px;
    height: 40px;
    background-color: darkgrey;
}
.box-deliver{
    /* background-color: chocolate;
    border: 3px solid brown; */
    background-image: url('img/box_2.png');
    background-size: cover;
}
.box-player{
    background-color: darkgrey;
    background-image: url('img/blue-1293919_1280.png');
    background-size: cover;
     
}