
body{
    background-color: dimgray;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    color: blue;
    /* font-family: 'Bungee Shade', cursive;  */
}
.class-start-page{
    margin: 50px;
    padding: 20px;
    height: 452px;
    background-color:black;
}
.class-title-start-page{
    margin: 10px auto;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bungee Shade', cursive;
    font-size: xx-large;   
}
.class-img-start-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    max-width: 100%;
    border: 3px solid blue;
}
.class-img-start-page img{
    width: 70px;
    height: 70px;
    margin: 10px;
    background-image: url('img/player.png');
    background-size: cover;
    background-color: white;

}
.class-button-start{
    display: flex;
    justify-content: center;
    padding: 40px;
}
.class-button-start button{
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    font-weight: bolder;
    color: blue;

}

#game-page{
    margin: 50px;
    padding: 20px;
    background-color:black;
}

#up-bar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#down-bar{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
/* #count-moves{
    display: flex;
} */
#box-delivery{
    display: flex;
}
.class-centrer-playground{
    display: flex;
    justify-content: center;
    margin: 50px auto;
    position: relative;
}

 /* en el contenedor padre utilizamos el CSS "display:grid" que ofrece la opcion de crear un tablon  
con propiedades como el felxbox.*/

.class-playground{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: fit-content;
    height: fit-content;
}

/* -----Clases para construir TABLERO */
.box-wall{
    background-image: url('img/white_brick_wall_@2X.png');
    background-repeat: repeat;
}
.box-playground{
    width: 40px;
    height: 40px;
    background-color: darkgrey;
    
}
.box-playground-solution{
    background-color: darkgrey;
    background-image: url('img/box.solution.png');
    background-size: cover;
}
.box-deliver{
    /* background-color: chocolate;
    border: 3px solid brown; */
    background-image: url('img/box.png');
    background-size: cover;
}
.box-deliver-on-time{
    background-color: darkgrey;
    background-image: url('img/box_deliver.png');
    background-size: cover;
}
.box-player{
    background-color: darkgrey;
    background-image: url('img/player.png');
    background-size: cover;    
}

.class-win-page{
    background-color: white;
    color: blue;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50%;

}
.class-win-page-buttons{
    background-color: white;
    color: blue;
    padding: 20px;
    text-align: right;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50%;
}

.counter{
    display: flex;
}