
body{
    background-color: black;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    color:chartreuse;
}

/* -----clases pagina START------ */

.class-start-page{
    margin: 5% 20%;
    padding: 20px;
    height: 452px;
    background-color:black;
}
.class-title-start-page{
    margin: 10px auto;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;  
    text-align: center; 
}
.class-img-start-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    max-width: 100%;
    background-color: darkgrey;
}
.class-img-start-page > div{
    height: 70px;
    width: 70px;
}
.class-img-start-page img{
    width: 70px;
    height: 70px;
    margin: 10px;
    background-size: cover;

}
.class-button-start{
    display: flex;
    justify-content: center;
    padding: 40px;
}
.class-button{
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
    font-weight: bolder;
    color: chartreuse;
    background-color: black;
    border: 2px solid;

}
.class-button:hover{
    background-color: blue;
}
.class-wall-start-page{
    display: flex;
    background-image: url('img/white_brick_wall_@2X.png');
    background-repeat: repeat;
    height: 10%;
}
.class-nothing{
    background-color:darkgrey;
}
.class-playground-solution{
    background-color: darkgrey;
    background-image: url('img/box.solution.png');
    background-size: cover;
}
.class-deliver{
    background-image: url('img/box.png');
    background-size: cover;
}
.class-deliver-on-time{
    background-color: darkgrey;
    background-image: url('img/box_deliver.png');
    background-size: cover;
}
.class-player{
    background-color: darkgrey;
    background-image: url('img/player.png');
    background-size: cover;    
}

/* ------id y clases pagina GAME-------- */

/* por motivos que podrian ser diferentes se han hecho estas ID para la pagina Game */

#game-page{
    margin: 5% 20%;
    padding: 20px;
    background-color:black;
}

#up-bar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
#down-bar{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#box-delivery{
    display: flex;
}
.class-centrer-playground{
    display: flex;
    justify-content: center;
    margin: 50px auto;
    position: relative;
}

 /* en el contenedor padre utilizamos el CSS "display:grid" que ofrece la opcion de crear un tablon  
con propiedades como el felxbox.
Se crea según el tipo de nivel y tablero una clase diferente
*/

.class-playground{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: fit-content;
    height: fit-content;
}

.class-playground4{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: fit-content;
    height: fit-content;
}
.counter{
    display: flex;
    padding: 0px 20px 0px 0px;
}
.counter-level{
    color: darkmagenta;
}

/* -----Clases para construir TABLERO */

.box-wall{
    background-image: url('img/white_brick_wall_@2X.png');
    background-repeat: repeat;
}
.box-playground{
    width: 40px;
    height: 40px;
    background-color: darkgrey;
    
}
.box-playground-solution{
    background-color: darkgrey;
    background-image: url('img/box.solution.png');
    background-size: cover;
}
.box-deliver{
    background-image: url('img/box.png');
    background-size: cover;
}
.box-deliver-on-time{
    background-color: darkgrey;
    background-image: url('img/box_deliver.png');
    background-size: cover;
}
.box-player{
    background-color: darkgrey;
    background-image: url('img/player.png');
    background-size: cover;    
}

/* ----- clases pagina WIN ----- */

.class-win-page{
    background-color: chartreuse;
    color: black;
    /* border: 2px solid; */
    padding: 20px;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}



